{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Article list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Auteur</th>
                <th>Datecreation</th>
                <th>Publication</th>                
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('article_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.titre }}</td>
                <td>{{ entity.contenu }}</td>
                <td>{{ entity.auteur }}</td>
                <td>{% if entity.datecreation %}{{ entity.datecreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.publication }}</td>
                <td> <a href="{{ path('std_blog_voir_slug', { slug:entity.slug} ) }}">{{entity.titre}}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('article_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('article_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('article_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
