{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Blog{% endblock %}

{% block body %}
<div class="page-header"><h1>StdBlog</h1></div>
	{% block body2 %}
	{% endblock %}
{% endblock %}




