{% extends "StdBlogBundle::layout.html.twig" %} 

{% block titre %}
{{ parent() }} - modification : {{ article.titre }} 
{% endblock %}


{% block body %}
Titre : {{ article.titre}}<br>
Contenu :<br>{{ article.contenu}}<br>
{% include "StdBlogBundle:Blog:formulaire.html.twig" %}
	{% block body2 %}
			
	{% endblock %} 
{% endblock %} 

